body {
    background-color: #111;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #ccc;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #1a1a1a;
    text-align: left;
    padding: 5px;
}

tr {
    transition: all .2s ease-in;
}

tbody tr:hover {
    background-color: #222;
}

table.reArr tr:hover{
    background-color: rgb(110, 165, 110);
}

button {
    border: 1px solid white;
    border-radius: 8.5px;
    padding: 2px;
    background-color: #1b1b1b;
    color: #ccc;
    transition: .3s;
}

button:hover, button:active, button.active {
    background-color: #e4e4e4;
    color: #333;
}

#whapham {
    position: fixed;
    top: 0%;
    left: 0%;
}

.whapham {
    animation: rotate 1s linear infinite, cross 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cross {
    0% {
        top: 0vh;
        left: 0vw;
    }

    100% {
        top: 100vh;
        left: 100vw;
    }
}

input.fadeInput {
    width: 6ch;
}

td[prop="actions"] button {
    font-weight: bold;
    margin: 2px;
}

#saveStatus {
    position: absolute;
    top: 1vh;
    text-align: center;
    opacity: 0;
    transition: opacity 3s;
    left: 50%;
    transform: translateX(-50%);
}

body {
    transition: .25s;
}

body.saving *:not(#saveStatus) {
    filter: blur(1px);
}

body.saving #saveStatus {
    opacity: 1;
    transition: opacity 0s;
}

.unopened~* {
    display: none;
}